<%= form_for @answer do |f| %>
  <%= f.hidden_field :question_id, value: @answer.question.id %>
  <p>
    <%= f.select :value, options_for_select(JSON.parse(@question.options_json)) %>
  </p>
  <input type='submit' />
<% end %>
