<%= form_for @answer do |f| %>
  <%= f.hidden_field :question_id, value: @answer.question.id %>
  <p>
    <%= f.radio_button :value, 'true' %>true
    <%= f.radio_button :value, 'false' %>false
  </p>
  <input type='submit' />
<% end %>
